doctype html
html
  head
    title Fire Alert
    script(type="text/javascript", src="script.js")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap")
    link(rel="stylesheet", href="styles.css")

  body
    block content


