<!DOCTYPE html>
<html>
    <head>
        <title>The CTF Oracle 🔮</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔮</text></svg>">

<style>

.animated {
  animation-name: example;
  animation-duration: 2s;
}

  @keyframes example {
  0%   {color: black; opacity: 0;}
  100% {color: yellow;opacity: 1;}
}
</style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}
      </head>
<head>
    
<body style="background: black; color: white">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">🔮 The CTF Oracle</a>
        {% if 'id' in session %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
        </ul>
         
          <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
          {% endif %}
        
      </nav>
    {% block content %}{% endblock %}
</body>
</html>